#all {
  background: url(./imgs/web-bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
a {
  color: rgba(255, 182, 193, 0.9);
}
.nav {
  background: linear-gradient(black, rgba(14, 4, 38, 0.5), rgba(14, 4, 38, 0.0));
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
.title {
  text-align: center;
}
img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.vid {
  padding: 1%;
  background: linear-gradient(
    rgba(00, 00, 00, 1),
    black,
    black,
    rgba(00, 00, 00, 0.7)
  );
}
.about {
  padding: 1%;
  background: linear-gradient(rgba(00, 00, 00, 0.7), rgba(00, 00, 00, 0));
}
.content {
  align-content: center;
  text-align: center;
}

.playlists {
  padding: 1%;
  background: linear-gradient(
    rgba(00, 00, 00, 0),
    black,
    rgba(00, 00, 00, 1)
  );
}
