body {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
  color: whitesmoke;
  background-color: purple;
  background: url(/imgs/siteBG.webp) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}
iframe {
  border: 0px;
}
a {
  color: rgba(255, 182, 193, 0.9);
}
@media screen and (min-width: 401px) and (max-width: 1024px) {
  .social { display: none; }   /* hide it elsewhere */
}
.social {
  text-align: center;
  font-size: 50%;
}
.fa {
  color: gray;
}
.nav {
  font-family: "Courier New", Courier, monospace;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  background: linear-gradient(
    black,
    black,
    rgba(14, 4, 38, 0.5),
    rgba(14, 4, 38, 0)
  );
}
.playlists {
  text-align: center;
  /* padding: 1%; */
  background: linear-gradient(rgba(00, 00, 00, 0), black, rgba(00, 00, 00, 1));
}
.bottomLink {
  margin: 10%;
}
.vid {
  text-align: center;
  /* padding: 1%; */
  background: linear-gradient(
    rgba(00, 00, 00, 1),
    black,
    black,
    rgba(00, 00, 00, 1)
  );
}
.contact {
  padding: 1%;
  text-align: center;
  background: linear-gradient(
    black,
    rgba(00, 00, 00, 0.7),
    rgba(00, 00, 00, 0),
    black
  );
}
.pageBottom {
  padding: 1%;
  text-align: center;
  background: black;
}
@media only screen and (max-width: 800px){
  .imageMain{
    height: 100px;
    width: 200px;
  }
}
@media only screen and (max-width: 600px){
  .imageMain{
    height: 100%;
    width: 100%;
  }
}
